@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

$dark: darkred;
$primary: black;
$headings-color: darkred;



$font-family-base: "Lexend", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 900px,
  xl: 900px,
  xxl: 900px,
);

.topyenoh {
  position: absolute;
  left: -9999px;
}

.form-label
{
  display:block;
}

.form-item
{
  display:block;
  margin:1em;
  width:90%;
}

section.case-study p.technical
{
    font-size:0.9em;
    font-style: italic;
}

section.case-study figure
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align:center;
}



@import "../node_modules/bootstrap/scss/bootstrap";

